#root {
  width: 80%;
  max-width: 1800px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

html {
  margin: 0px;
  height: 100%;
  width: 100%;
}

body {
  margin: 0px;
  min-height: 100%;
  background-color: #2D829A;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* background-color: rgba(101, 73, 36, 0.311); */
  width: 100%;
  height: 100%;
  margin: auto;
}

.container::before,
.container::after {
  display: none;
}

.column-title {
  border-radius: 20px;
  white-space: nowrap;
}

.list-group-container {
  height: 100%;
  margin-bottom: 0;
  background-color: whitesmoke;
  margin: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0;
  flex: 1;
  min-width: max-content;
  border-radius: 5px;
}

h2 {
  margin-top: 0px;
}

/* card {
  min-height: 1000px;
} */

.list-group-item {
  margin-bottom: 5px;
  min-width: 100px;
  min-height: 40px;
  background-color: rgb(96, 96, 96);
  border-radius: 5px !important;
}

.column-1 {
  background-color: #ffcccc;
}

.column-2 {
  background-color: #ccffcc;
}

.column-3 {
  background-color: #93E2F5;
}

.placeholder-span {
  animation: none !important;
  cursor: default !important;
  border-radius: 5px;
}

.placeholder-task {
  text-align: left;
  border: 20px black;
  background-color: white;
  border-radius: 10px;
  margin: 10px;
}

.placeholder-span {
  color: #BCBDBC;
  margin: 5px;
  width: 100%;
}

.input-group {
  display: flex;
  justify-content: center;
  align-items: center;
}



.form-control {
  margin-top: 100px;
  /* width: 2%; */
  /* border-radius: 100px; */
  /* background-color :black; */
  /* text-align: right; */

  margin-left: auto;
  margin-right: auto;

}

