#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

}

html {
  margin: 0px;
  height: 100%;
  width: 100%;
}

body {
  margin: 0px;
  min-height: 100%;
  
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  
  /* text-align: center; */


  
}

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  /* margin: auto; */
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(101, 73, 36);

  /* border-radius: 20px; */
  /* padding: 200px; */

  width: 100%;
  height: 100%;

  margin: auto;

  /* position: fixed; */
  
  /* margin-top: 10%;
  margin-bottom: 10%; */

  height: auto;

}

.list-group-container {
  padding: 20px;
  height: 100%;
  margin-bottom: 0;
  /* list-group-border-width: 20px; */
  /* border-color: blue; */
  /* border-width: 20px; */
  /* overflow: visible; */
}

.list-group-item {
  margin-bottom: 5px;
  min-width: 100px;
  min-height: 40px;
  background-color: rgb(96, 96, 96);
  /* border-radius: 100px; */
  /* border-top-right-radius: 20px;
  border-top-left-radius: 20px; */
}
